// Jade
extends layout

block content
    //h1=title
    div.buttons-wrap
        div.master-button-wrap#button1
            div.button-content Player A
        div.master-button-wrap#button2
            div.button-content Player B