
extends layout

block content
   script(src="/javascripts/jquery.min.js")
   script(src="/javascripts/admin.js")
   div.container-fluid
        div.row-fluid
            div.span3.btn.btn-large.next-round-button(id='nextroundbtn') Next Round
            div.span3.btn.btn-large.next-round-button(id='resetallbtn') Reset All
        div.row-fluid
            div.span6.well
                div.btn.btn-large.set-picture-button(id='player1SetPicture') Set Picture
                div.player-name-label(id='player1namelabel')=players[0].name
                button.btn.btn-small.edit-name-button(id='editpname1') Edit
                div.player-points-label
                    h2(id='player1Points')= players[0].points
                button.btn.btn-large.btn-block.btn-primary.updateScoreButton(id="upbutton1") Up by one              
                button.btn.btn-large.btn-block.btn-danger.updateScoreButton(id="downbutton1") Down by one
            div.span6.well
                div.btn.btn-large.set-picture-button(id='player2SetPicture') Set Picture
                div.player-name-label(id='player2namelabel')=players[1].name
                button.btn.btn-small.edit-name-button(id='editpname2') Edit
                div.player-points-label
                    h2(id='player2Points')= players[1].points
                button.btn.btn-large.btn-block.btn-primary.updateScoreButton(id="upbutton2") Up by one
                button.btn.btn-large.btn-block.btn-danger.updateScoreButton(id="downbutton2") Down by one

