
extends layout

block content
   script(src="/javascripts/jquery.min.js")
   script(src="/javascripts/admin.js")
   div.container
        div.row.text-center
            button.col-md-6.btn-lg.next-round-button(id='nextroundbtn') Next Round
            button.col-md-6.btn-lg.next-round-button(id='resetallbtn') Reset All
        div.row
            div.col-md-6.col-xs-6.well
                div.btn-lg.set-picture-button(id='player1SetPicture') Set Picture
                div.player-name-label(id='player1namelabel')=players[0].name
                button.btn.btn-default.glyphicon.glyphicon-pencil.edit-name-button(id='editpname1')
                div.player-points-label
                    h2(id='player1Points')= players[0].points

                    
                button.btn-lg.btn-block.btn-primary.glyphicon.glyphicon-arrow-up.updateScoreButton(id="upbutton1")
                
                button.btn-lg.btn-block.btn-danger.glyphicon.glyphicon-arrow-down.updateScoreButton(id="downbutton1")
            div.col-md-6.col-xs-6.well
                div.btn-lg.set-picture-button(id='player2SetPicture') Set Picture
                div.player-name-label(id='player2namelabel')=players[1].name
                button.btn.btn-default.glyphicon.glyphicon-pencil.edit-name-button(id='editpname2')
                div.player-points-label
                    h2(id='player2Points')= players[1].points
                    
                button.btn-lg.btn-block.btn-primary.glyphicon.glyphicon-arrow-up.updateScoreButton(id="upbutton2")
                
                button.btn-lg.btn-block.btn-danger.glyphicon.glyphicon-arrow-down.updateScoreButton(id="downbutton2")

