extends layout

block content
   div.container-fluid
        div.span12
            div.span6.well
                h1 Player1
                form(method="post", action="/push")
                    input(name="user[name]", value="player1",style="display:none")
                    button.btn.btn-large.btn-block.btn-primary(type="submit") Up by one
                form(method="post", action="/pop")
                    input(name="user[name]", value="player1",style="display:none")
                    button.btn.btn-large.btn-block.btn-danger(type="submit", ng-bind='minux') Down by one
            div.span6.well
                h1 Player2
                form(method="post", action="/push")
                    input(name="user[name]", value="player2",style="display:none")
                    button.btn.btn-large.btn-block.btn-primary(type="submit") Up by one
                form(method="post", action="/pop")
                    input(name="user[name]", value="player2",style="display:none")
                    button.btn.btn-large.btn-block.btn-danger(type="submit", ng-bind='minux') Down by one