extends layout

block content
    script.
        var players = !{JSON.stringify(players)};
    div.row-fluid
        div.container-fluid
            h1.span12.pagination-centered
                img.geLogo(src="/images/GE_logo.png")
                span Table Tennis Tournament
    div.row-fluid(ng-app="tt")
        div.container-fluid(ng-controller='master')
            div.span12
                div.well
                    h1(ng-bind-template='Round {{round}}') 
                div.row-fluid
                    div.span6
                        div.well(style="height:500px")
                            h2(ng-bind='player1.name')
                            div.span12
                                div.span6
                                    img.img-polaroid(ng-src='{{player1.profileImage}}')
                                div.span6
                                    h3 Points
                                        div.player-points(ng-bind='player1.points')
                    div.span6
                        div.well(style="height:500px")
                            h2(ng-bind='player2.name')
                            div.span12
                                div.span6
                                    img.img-polaroid(ng-src='{{player2.profileImage}}')
                                div.span6
                                    h3 Points 
                                        div.player-points(ng-bind='player2.points')
  