extends layout

block content
    script.
        var players = !{JSON.stringify(players)};
    div.row
        div.container
            h1.col-md-12.text-center
                img.geLogo(src="/images/GE_logo.png")
                span Table Tennis Tournament
    div.row(ng-app="tt")
        div.container(ng-controller='master')
            div.col-md-12
                div.well
                    h1.text-center(ng-bind-template="Round {{round}}")
                div.row
                    div.col-md-6
                        div.well(style="height:500px")
                            //h1 Player 1
                            h2 {{player1.name}}
                            div.col-md-12
                                div.col-md-6
                                    img.img-polaroid.img-thumbnail(ng-src='{{player1.profileImage}}')
                                div.col-md-6
                                    h3 Points
                                        div.player-points(id='player-points-1', ng-bind="player1.points")
                    div.col-md-6
                        div.well(style="height:500px")
                            //h1 Player 2
                            h2 {{player2.name}}
                            div.col-md-12
                                div.col-md-6
                                    img.img-polaroid.img-thumbnail(ng-src='{{player2.profileImage}}')
                                div.col-md-6
                                    h3 Points 
                                        div.player-points(id='player-points-2', ng-bind="player2.points")
  