extends layout

block content
    script(type='text/javascript', src='/javascripts/client.js')
    script.
        var players = !{JSON.stringify(players)};
    div.row.home-page-wrap
        div.container.title-container
            h1.col-md-12.title-image
                img.geLogo(src="/images/GE_logo.png")
            span.title-text Table Tennis Tournament
    div.row(ng-app="tt")
        div.container(ng-controller='master')
            div.col-md-12
                div.well
                    h1.text-center(ng-bind-template="Round {{round}}")
                div.row
                    div.col-md-6(style='z-index:-4;')
                        div.well(style="height:500px")
                            //h1 Player 1
                            h2.home-player-name {{player1.name}}
                            div.col-md-12
                                div.col-md-6()
                                    img.img-circle(src='{{player1.profileImages[0]}}')
                                    img.img-circle(src='{{player1.profileImages[1]}}', ng-hide="player1.profileImages[1] == '' || player1.profileImages[1] == null")
                                div.col-md-6
                                    h3 Points
                                        div.player-points(id='player-points-1', ng-bind="player1.points")
                    div.col-md-6(style='z-index:-5;')
                        div.well(style="height:500px")
                            //h1 Player 2
                            h2.home-player-name {{player2.name}}
                            div.col-md-12
                                div.col-md-6
                                    img.img-circle(src='{{player2.profileImages[0]}}')
                                    img.img-circle(src='{{player2.profileImages[1]}}',ng-hide="player2.profileImages[1] == '' || player2.profileImages[1] == null")
                                div.col-md-6
                                    h3 Points 
                                        div.player-points(id='player-points-2', ng-bind="player2.points")
  