doctype 5
html
  head
    title= title
   
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
     
  body
    block content
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/angular.js')