@font-face{
    font-family: ScoreBoard;
    src: url(/font/scoreboard.ttf) format('truetype');
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.buttons-wrap {
    width: 100%;
}
.master-button-wrap
{
    width: 40%;
    height: 200px;
    float: left;
    background: #ccc;
    margin: 50px 0px 50px 100px;
}
.button-content {
    font-size: 40px;
    color: #fff;
}

.set-picture-button{float: right;}

.player-points{font-family:ScoreBoard;font-size: 197px;line-height: 149px;}

.next-round-button{margin-bottom: 10px;}
.player-name-label {font-size: xx-large; font-weight: bold;float: left;}
.edit-name-button{margin-left: 20px;float: left;margin-top: 5px;}
.player-points-label{clear: left;float: none;}