body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.buttons-wrap {
    width: 100%;
}
.master-button-wrap
{
    width: 40%;
    height: 200px;
    float: left;
    background: #ccc;
    margin: 50px 0px 50px 100px;
}
.button-content {
    font-size: 40px;
    color: #fff;
}

.set-picture-button{float: right;
margin-top: 15px;}